{% extends 'base.html.twig' %}
{% block body %}
    <h1>URL Minified!</h1>
    <p>Minified URL: <a href="{{ path('redirect', { hash: url.hash }) }}"> {{ schemeAndHost }}{{ path('redirect', { hash: url.hash }) }}</a></p>
{% endblock %}
